<!-- HEADING -->
<h1 class="uk-heading-primary uk-text-center"> Activo #{{ id }} </h1>
<hr>

<!-- ACTIVE DATA -->
<form class="uk-form-horizontal uk-margin-large">

  <div class="uk-margin">
    <label class="uk-form-label uk-text-bold" for="form-horizontal-text"> Nombre </label>
    <div class="uk-form-controls">
      <input class="uk-input" id="form-horizontal-text" type="text" placeholder="Nombre del activo">
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label uk-text-bold" for="form-horizontal-select"> Descripción </label>
    <div class="uk-form-controls">
        <textarea class="uk-textarea" rows="5" placeholder="Descripción del activo"></textarea>
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label uk-text-bold" for="form-horizontal-text"> Dirección </label>
    <div class="uk-form-controls">
      <input class="uk-input" id="form-horizontal-text" type="text" placeholder="C/, plza, gta, ...">
    </div>
  </div>

  <div class="uk-margin">
    <div class="uk-form-label uk-text-bold"> Disponibilidad </div>
    <div class="uk-form-controls uk-form-controls-text">
      <label><input class="uk-radio" type="radio" name="radio1"> Sí </label><br>
      <label><input class="uk-radio" type="radio" name="radio1"> No </label>
    </div>
  </div>

</form>