<h1 class="uk-text-center"> ¡Hazme llegar tu interés! </h1>
<hr>

<div id="active-item" class="uk-card uk-card-default uk-alert-warning uk-card-body uk-width-1-1@m">
        <div class="uk-card-badge uk-label uk-label-warning"> 400$ </div>
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://upload.wikimedia.org/wikipedia/commons/2/21/FIM-ImageW_11kV.jpg">
          </div>
          <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom uk-text-warning">C/ de algún lado</h3>
              <p class="uk-text-meta uk-margin-remove-top">120 m</p>
          </div>
          <div class="uk-width-expand">

          </div>
      </div>
</div>

<br>

<form class="uk-form-stacked">
    <div uk-grid>
        <div class="uk-width-1-3@m">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="name"> Nombre * </label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="name" type="text" placeholder="Nombre completo">
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="phone"> Teléfono/móvil * </label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="phone" type="phone" placeholder="Número de contacto">
                </div>
            </div>
        </div>
        <div class="uk-width-1-3@m">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="mail"> Correo </label>
                <div class="uk-form-controls">
                    <input class="uk-input" id="email" type="email" placeholder="Dirección de correo">
                </div>
            </div>
        </div>
        <div class="uk-width-1-1@m">
            <div class="uk-margin">
                <label class="uk-form-label uk-text-bold" for="subject"> Asunto </label>
                <textarea class="uk-textarea" id="subject" rows="6" placeholder="Detalla tus intereses"></textarea>
            </div>
        </div>
        <div class="uk-width-1-1@m">
            <div class="uk-margin">
                
                <button class="uk-button uk-button-primary uk-align-center">
                    <span uk-icon="icon: check"></span>
                    Enviar
                </button>
            </div>
        </div>
    </div>
</form>