<div class="uk-flex uk-flex-center uk-flex-middle uk-background-muted uk-height-viewport">
    <div class="uk-position-bottom-center uk-position-small uk-visible@m">
      <span class="uk-text-small uk-text-muted"> © 2017 Company Name - All rights reserved </span>
    </div>
    <div class="uk-width-medium uk-padding-small">
      <form action="login.html">
        <fieldset class="uk-fieldset">
          <legend class="uk-legend"> Login </legend>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: user"></span>
              <input class="uk-input uk-form-large" required="" placeholder="Username" type="text">
            </div>
          </div>
          <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
              <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: lock"></span>
              <input class="uk-input uk-form-large" required="" placeholder="Password" type="password">
            </div>
          </div>
          
          <div class="uk-margin">
            <label><input class="uk-checkbox" type="checkbox"> Keep me logged in </label>
          </div>
          <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-primary uk-button-primary uk-button-large uk-width-1-1">LOG IN</button>
          </div>
        </fieldset>
      </form>
      <div>
        <div class="uk-text-center">
          <a class="uk-link-reset uk-text-small" data-uk-toggle="target: #recover;animation: uk-animation-slide-top-small">Forgot your password?</a>
        </div>
        <div class="uk-margin-small-top" id="recover" hidden="">
          <form action="login.html">
            
            <div class="uk-margin-small">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip uk-icon" data-uk-icon="icon: mail"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" ratio="1"> <polyline fill="none" stroke="#000" points="1.4,6.5 10,11 18.6,6.5"></polyline> <path d="M 1,4 1,16 19,16 19,4 1,4 Z M 18,15 2,15 2,5 18,5 18,15 Z"></path></svg></span>
                <input class="uk-input" placeholder="E-mail" required="" type="text">
              </div>
            </div>
            <div class="uk-margin-small">
              <button type="submit" class="uk-button uk-button-primary uk-button-primary uk-width-1-1">SEND PASSWORD</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>