<!-- HEADING -->
<h1 class="uk-heading-primary uk-text-center uk-text-uppercase"> Inmuebles </h1>
<hr>

<!-- PAGINATION -->
<app-simple-pagination [resource]="'active'" (page)="setPage($event)"></app-simple-pagination>

<!-- ACTIVE TABLE -->
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
    <!-- HEADER -->
    <thead>
      <tr>
          <th class="uk-table-shrink"> </th>
          <th class="uk-table-shrink"> </th>
          <th class="uk-table-expand"> Dirección </th>
          <th class="uk-table-expand uk-visible@m"> Descripción </th>
          <th class="uk-table-expand uk-visible@m"> Precio </th>
          <th class="uk-width-expand"> Estado </th>
          <th class="uk-width-expand"> </th>
      </tr>
    </thead>
    <!-- BODY -->
    <tbody>
      <!-- ACTIVE ITEM -->
      <tr *ngFor="let active of actives">
        <td> <input class="uk-checkbox" type="checkbox"> </td>

        <td>
          <img class="uk-preserve-width uk-border-circle" [src]="active.images[0].path
            ? active.images[0].path 
            : assets/images/no-image.jpg" width="80" height="80" alt="">
        </td>

        <td> {{ active.address }} </td>

        <td class="uk-visible@m"> {{ active.description }} </td>

        <td class="uk-visible@m">
            <span class="uk-label uk-text-bold"> {{ active.price | currency : 'EUR' }} </span>
        </td>

        <td class="uk-text-center">

          <div *ngIf="active.available">
            <p class="uk-display-inline-block uk-visible@m uk-text-success"> Disponible </p>
            <span class="uk-display-inline-block uk-hidden@m uk-text-success" uk-icon="check"> </span>
          </div>

          <div *ngIf="!active.available">
            <p class="uk-display-inline-block uk-visible@m uk-text-danger"> Ocupado </p>
            <span class="uk-display-inline-block uk-hidden@m uk-text-danger" uk-icon="close"> </span> 
          </div>

          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
              <li class="uk-active">
                <a><span class="uk-text-primary" [attr.uk-icon]="active.available ? 'triangle-down' : 'triangle-up'"> {{ active.available ? 'Dar de baja' : 'Dar de alta'}} </span> </a>
              </li>
              <br>
              <li class="uk-active">
                  <a><span class="uk-text-danger" uk-icon="close"> Eliminar </span></a>
              </li>
              <br>
              <li class="uk-active">
                  <a><span class="uk-text-primary" uk-icon="pencil"> Editar </span></a>
              </li>
            </ul>
          </div>

        </td>

        <td class="uk-text-right">
            <button class="uk-button uk-button-link"> Ver </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
