<nav class="uk-navbar-container uk-margin" uk-navbar uk-sticky>
  <div class="uk-navbar-center">

      <!-- PROFILE -->
      <div class="uk-navbar-center-left">
        <div>
          <ul class="uk-navbar-nav">
              <li class="uk-active"><a href="#">Profile</a></li>
          </ul>
        </div>
      </div>

      <!-- LOGO -->
      <a class="uk-navbar-item uk-logo" href="#">Logo</a>

      <!-- ACTIVES-->
      <div class="uk-navbar-center-right">
        <div>
          <ul class="uk-navbar-nav">
              <li><a href="#">Actives</a></li>
          </ul>
        </div>
      </div>

  </div>
</nav>

<div class="uk-container">
    <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
